<!DOCTYPE html>

<html lang="<%= I18n.locale %>">

<head>
  <%= stylesheet_link_tag 'typus-admin/application' %>
</head>

<body id="account">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/"><%= Typus.admin_title %></a>
        <div class="nav-collapse">
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="span12">
        <%= admin_display_flash_message %>
        <%= yield :layout %>
        <% if content_for?(:actions) %>
          <div id="actions">
            <%= yield :actions %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</body>

</html>
